@font-face {
    font-family: "Zuka Doodle";
    src: url("font/RubikDoodleShadow-Regular.ttf");
}

:root {
    --checklist-color: green;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.main-container {
    margin: 0 auto;
    max-width: min(100%, 43.125rem);
}

.main-container > * {
    margin-block-end: 0.5em;
}

.main-heading > h1 {
    color: #FAFAFA;
    background-color: #2a2a2a;
    font-family: "Zuka Doodle";
    font-size: clamp(2.5rem, 11vw, 4.75rem);
    text-align: center;
    padding-block: 0.5em;
}

.main-list {
    width: clamp(19.75rem, 100vw, 30rem);
    margin: 0 auto;
    padding: 1rem;
    display: grid;
    grid-gap: 0.5rem;
}

.main-list input[type="checkbox"] {
    display: none;
}

.main-list input[type="checkbox"] + label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding-inline-start: 30px;
}

.main-list > .list-item-adder > textarea {
  display: none;
}

input[type="checkbox"] + label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: solid 2px black;
    border-radius: 5px;
}

input[type="checkbox"]:checked + label::before {
    background-image: url("icons/check-solid.svg");
}
